USE [master]
GO
/****** Object:  Database [db_dswi_crud]    Script Date: 08/04/2026 21:21:57 ******/
CREATE DATABASE [db_dswi_crud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_dswi_crud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_dswi_crud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_dswi_crud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_dswi_crud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_dswi_crud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_dswi_crud]
GO
/****** Object:  User [user_cibertec]    Script Date: 08/04/2026 21:21:57 ******/
CREATE USER [user_cibertec] FOR LOGIN [user_cibertec] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user_cibertec]
GO
ALTER ROLE [db_datareader] ADD MEMBER [user_cibertec]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [user_cibertec]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 08/04/2026 21:21:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[uMedida] [varchar](50) NULL,
	[precio] [decimal](7, 2) NULL,
	[stock] [int] NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([idProducto], [descripcion], [uMedida], [precio], [stock]) VALUES (1, N'Gaseosa Inca Kola 500ml', N'unidad', CAST(3.50 AS Decimal(7, 2)), 20)
INSERT [dbo].[producto] ([idProducto], [descripcion], [uMedida], [precio], [stock]) VALUES (2, N'Jugo Pulp 1L', N'unidad', CAST(4.50 AS Decimal(7, 2)), 10)
INSERT [dbo].[producto] ([idProducto], [descripcion], [uMedida], [precio], [stock]) VALUES (3, N'Galletas Oreo x6 und', N'unidad', CAST(3.00 AS Decimal(7, 2)), 15)
SET IDENTITY_INSERT [dbo].[producto] OFF
GO
/****** Object:  StoredProcedure [dbo].[usp_actualizar_producto]    Script Date: 08/04/2026 21:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[usp_actualizar_producto]
	@idProducto INT,
	@descripcion VARCHAR(50),
	@uMedida VARCHAR(50),
	@precio DECIMAL(7,2),
	@stock INT
AS
BEGIN
	SET NOCOUNT ON;
	
	UPDATE producto
	SET 
		descripcion = @descripcion,
		uMedida=@uMedida,
		precio=@precio,
		stock=@stock
	WHERE idProducto=@idProducto
END
GO
/****** Object:  StoredProcedure [dbo].[usp_eliminar_producto]    Script Date: 08/04/2026 21:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_eliminar_producto] 
	@idProducto  int
AS
BEGIN
	SET NOCOUNT ON;
	DELETE FROM producto
	WHERE idProducto=@idProducto;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_insertar_producto]    Script Date: 08/04/2026 21:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_insertar_producto]
	@descripcion VARCHAR(50),
	@uMedida VARCHAR(50),
	@precio DECIMAL(7,2),
	@stock INT
AS
BEGIN
	SET NOCOUNT ON;
	INSERT producto(descripcion, uMedida, precio, stock)
	VALUES (@descripcion, @uMedida, @precio, @stock)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_producto_buscar]    Script Date: 08/04/2026 21:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_producto_buscar] 
	@nombre VARCHAR(100)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT p.idProducto, p.descripcion, p.uMedida, p.precio, p.stock 
	FROM producto p
	WHERE p.descripcion LIKE '%'+@nombre+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_productos]    Script Date: 08/04/2026 21:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_productos]
AS
BEGIN
	SELECT * FROM producto
END
GO
/****** Object:  StoredProcedure [dbo].[usp_seleccionar_producto]    Script Date: 08/04/2026 21:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_seleccionar_producto]
	@idProducto int
AS
BEGIN
	SET NOCOUNT ON;    
	SELECT p.idProducto, p.descripcion, p.uMedida, p.precio, p.stock 
	FROM producto p
	WHERE p.idProducto=@idProducto
END
GO
USE [master]
GO
